@import 'main';

body {
   margin: 0 auto;
   max-width: 1200px;
}

header {
   &.woodworking nav { background: $woodworking-color; }
   &.tom nav { background: $tom-color; }
   &.programming nav { background: $programming-color; }
   &.play nav { background: $play-color; }

   nav {
      padding: 1rem 3rem;

      border-bottom-radius: 20px;

      display: flex;
      justify-content: space-between;
   }
}

.portrait {
   background-clip: content-box;
   border-radius: 100%;
   width: 400px;
   height: 400px;
   float: right;
}
