$font-color: #761300;
$link-color: #2196f3;

$woodworking-color: #ff1500;
$tom-color: #ff7f00;
$programming-color: #ffbf00;
$play-color: #761300;
$wedding-color: #2196f3;

body {
   font-family: 'Work Sans', 'Segoe UI', sans-serif;
   font-size: 20pt;
   color: $font-color;
}

a:link {
   color: $link-color;
}
