body {
   font-family: 'segoe ui', 'lucida grande', 'verdana';
   font-size: 20pt;
}

#svg-container {
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
}

svg {
   display: block;
   margin: auto;
   height: 100%;
   max-width: 100%;
}

#woodworking {
   .right { fill: #ff4433; }
   .top   { fill: #ff5b4d; }
   .left  { fill: #ff1500; }
}

#tom {
   .right { fill: #ff9933; }
   .top   { fill: #ff8c1a; }
   .left  { fill: #ff7f00; }
}

#programming {
   .right { fill: #ffc51a; }
   .top   { fill: #ffd24d; }
   .left  { fill: #ffbf00; }
}

#play circle { fill: #761300; }

#wedding circle { fill: #2196f3; }

use:hover {
   stroke: #2196f3;
   stroke-width: 4;
   filter: url(#hover-blur);
}

.arc,
.debug,
.mouseover.link {
   stroke-width: 2;
   fill-opacity: 0;
   display: none;
}

.arc {
   stroke: green;
}

.debug {
   stroke: blue;
}

.mouseover.link {
   stroke: purple;
}

text {
   font-family: "Segoe UI", sans-serif; fill: #761300;
}

#title text {
   font-size: 1.375em;
   font-weight: bold;
}

#title text:first-child {
   font-size: 1.625em;
}

