$font-color: #761300;
$link-color: #1565c0;

$woodworking-color: #ff4433;
$woodworking-header-color: #ffcc99;

$tom-color: #ff9933;

$programming-color: #ffc51a;

$play-color: #761300;

$wedding-color: #2196f3;

body {
   font-family: 'Work Sans', 'Segoe UI', sans-serif;
   font-size: 20pt;
   color: $font-color;
}

a:link {
   color: $link-color;
}
